.js-expanded-contact,.js-expanded-ship{
    transition: all 0.5s;
    &.active{
        transform: rotate(180deg);
        transition: 0.5s;
    }
}
.js-contact-detail,.js-ship-detail{
    &.active{
        display: none !important;
    }
}