.bg-done{
    background-image: url('./../images/done.jpg');
}
.nav-position{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}
.logo-light{
    color: $white;
}
.none{
    display: none;
}