//header
.logo a{
    color: $white;
    @include pc{
        color: $dark;
    }
}
.menu{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
}
.js-nav{
    width: 0%;
    transition: all 0.5s;
    @include pad {
        display: flex;
        width: auto;
    }
}
.js-nav-item-product{
    cursor: pointer;
}
.js-nav-header,.js-nav-item,.js-nav-item-product{
    display: none !important;
}
.js-nav-item{
    @include pad {
        display: unset !important;
    }
}
.js-nav.active{
    width: 100%;
    display: unset;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $white ;
    color: $dark;
    .js-nav-header,.js-nav-item-product{
        display: flex !important;
    }
    .js-nav-item{
        display: block !important;
    }
}
.color-white{
    color: $white;
}
.nav-link{
    color: $dark;
    @include pad {
        color: $white;
    }
    &:hover{
        color: $gray-700;
    }
}
.js-arrow{
    transition: all 0.5s;
    &.active{
        transform: rotate(180deg);
    }
}

//subscribe
.subscribe{
    height: 240px;
    @include pad{
        height: 400px;
    }
}
.bg-subscribe{
    background-image: url('./../images/footer.jpg');
}
//input placeholder
.placeholder-light.placeholder-light{
    &::placeholder {
        color: $gray-500;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
    }
}
//madal
.media-img-cover{
    max-width: 96px;
    height: 96px;
    object-fit: cover;
    @include pad{
        max-width: 104px;
        height: 104px;
    }
    @include pc{
        max-width: 112px;
        height: 112px;
    }
}
.product-amount{
    width: 30px;
}

.media-body-height{
    height: 96px;
    @include pad{
        height: 104px;
    }
    @include pc{
        height: 112px;
    }
}

//nav 切換
.menu-position{
    position: relative;
}
.menu-color.menu-color{
    color: #121212;
}
.menu-color-dark{
    color: #121212;
}